/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 800px;
	display:flex;
	flex-direction: column;
}

header, main{
	max-width: 1400px;
	margin: 0 auto;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
    flex-direction: column;
	justify-content: center;
	margin: 0 auto;
    width:100%;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	text-align: center;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

a {
	text-decoration: none;
	color: black;
}

nav a:visited {
	color: black;
}

.bold{
	font-weight: 600;
}

.projetNav {
    color: black;
}

#introduction {
	display: flex;
	align-items: center;

}
#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction article a {
	margin: 0;
}


#introduction h2 {
	margin-top: 1em;
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#filters{
	text-align:center;
	margin: 50px auto;
}

.filter{
	padding: 9px 15px;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	border: solid 1px #1D6154;
	background-color: white;
	min-width: 100px;
}

.filter:hover{
	color: white;
	background-color: #1D6154;
	border: solid 1px #1D6154;
	cursor: pointer;
}

#gallery{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img{
	width: 100%;
}

figcaption{
	padding-top: 10px;
}

#contact{
	width: 50%;
	margin: auto;
}
#contact > *, #loginPage > * {
	text-align: center;

}
#contact h2, #loginPage h2{
	margin-bottom: 20px;
}
#contact form, #loginPage form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #loginPage input{
	height: 50px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input, #loginPage #submit{
	border:0;
}

.borderInput{
	border:0;
}

#contact label, #loginPage label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover{
    cursor: pointer;
}

footer{
	margin-right: 100px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* login */
#loginPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	margin: auto;
	text-align: center;
}

.invalid{
	display: none;
}

.redBorder{
	border-radius: 5px;
	border: solid 2px red;
}

.redWarning{
	color:red;
	text-align:center
}

.errorMessage{
	color: red;
}

.forgotPwd{
	color:black;
}


/* edit */
.noedit{
    display:none;
}

.edit{
    display: block;
}

.flex{
    display: flex;
}

#edit{
    background-color: black;
    margin: 0;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

#edit p{
    color: white;
}

#edit button{
    border-radius: 60px;
    height: 60%;
    padding: 5px 25px;
    margin: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#introduction a{
	position: absolute;
	margin-top: 1%;
	margin-left: 4%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6em 0;
}

#portfolio h2{
    margin: 0 1.5em;
}

/* MODAL */
#modal button{
    cursor: pointer;
}

.modal{
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper{
    background-color: white;
    width:600px;
    height: 700px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    border-radius: 10px;
    padding: 20px;
}

.gallery-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 660px;
}

#close, #deleteGallery{
    border: 0;
    background-color: white;
}

#close{
    font-size: 20px;
    position: relative;
    left:540px;
}

#galleryEdit{
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 13px 10px;
    overflow: scroll;
}

#galleryEdit img {
	width: 100%;
}

.card{
    position: relative;
    min-height: 133px;
}

.btnIcon{
    align-items: center;
    position: absolute;
    bottom: 109px;
    left: 62px;
    padding: 2px 4px 1px 4px;
    background-color: black;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: 0;
}

#divider{
    height: 1px;
    width: 500px;
    background-color:#B3B3B3;
    margin: 20px auto;
}

#modal .container{
    flex-direction: column;
    justify-content: space-between;
    height: 12%;
    margin:10px; 
}

#addWork{
    background-color: #1D6154;
    border-radius:60px;
    height: 36px;
    width: 237px;
    color: white;
    font-family: "Syne";
    font-weight: 700;
    font-size: 14px;
    border: 0;
}

#deleteGallery{
    color: red;
    font-size: 14px;
    font-family: "Syne";
}

/* MODAL ADD PICTURES */

#back{
    border: 0;
    background-color: transparent;
}

#dividerform{
    height: 1px;
    width: 100%;
    background-color:#B3B3B3;
    margin: 40px auto;
}

#form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
    margin: auto;
}

#inputPhoto{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#labelPhoto{
    background-color: #CBD6DC;
    border-radius: 50px;
    width: 90%;
    cursor: pointer;
}

#labelPhoto p{
    color: #306685;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 5px;
}

#photo{
    visibility: hidden;
}

#photoFile{
    max-width: 165px;
    margin: auto;
}

#title, select{
    height: 50px;
    box-shadow: 1px 1px 4px #c5c4c4;
    padding-left: 10px;
}

#titleLabel, #categoryLabel{
    margin: 30px 0 10px 0;
}

#select-container{
    position: relative;
    width: 100%;
}

select{
    appearance: none; 
    cursor: pointer;
    width: 100%;
}

#dropdown{
    position: absolute;
    bottom: 20px;
    width: 1em;
    right: 30px;
   
}

#searchPicture{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8F1F6;
    height: 225px;
    margin-top: 20px;
}

#searchPicture .fa-image{
    color: #B9C5CC;
    margin-bottom: 30px;
}

#searchPicture p{
    color: #444444;
    margin-top: 10px;
}

#validate{
    font-family: "Syne";
    font-size: 14px;
    font-weight: 700;
    width: 240px;
    height: 40px;
    border-radius: 60px;
    border: none;
    color: #FFF;
    background-color: #A7A7A7;
    margin: auto;
}

#validate:hover{
    background-color: #1D6154;
}